params {
    reads = "data/*.fastq"
    ref = "data/*.fna"

    fastqc_bin = "/home/aarushi92/miniconda3/envs/bioenv/bin/fastqc"
    trimmomatic_bin = "/home/aarushi92/miniconda3/envs/bioenv/bin/trimmomatic"
    bwa_bin = "/home/aarushi92/miniconda3/envs/bioenv/bin/bwa"
    samtools_bin = "/usr/bin/samtools"
    bcftools_bin = "/usr/bin/bcftools"
    gatk_bin = "/home/aarushi92/miniconda3/envs/bioenv/bin/gatk"
}

process {
    executor = 'local'
    cpus = 2
    memory = '2 GB'
}